export PORT=3000
export MAX_SIMULTANEOUS_TESTS=3
export PROJECT_HOME=/home/vagrant
export TESTING_GROUND=/home/vagrant/testground
export GITHUB_ACCESS_TOKEN=tokentime
export GITHUB_API_RETRY_MAX=3
export SSL_CERT=/foo/bar/no/longer
export SSL_KEY=/foo/bar/no/more